body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  margin-top: 20px;
  color: orchid;
  text-shadow: 2px 2px darkorchid;
}

h3, button{
  margin: 20px 0;
}

p {
  font-size: 20px;
}

form img {
  width: 100px;
}

.game-interface {
  display: none;
}

.character-sheet {
  border: 1px solid black;
  background-color: thistle;
  border-radius: 3px;
  padding: 10px 20px;
}

.character-image {
  margin: 10px 0;
}
