body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  margin-top: 20px;
  color: orchid;
  text-shadow: 2px 2px darkorchid;
}

h3, button{
  margin: 20px 0;
}

p {
  font-size: 20px;
}

form img {
  width: 100px;
}

.battle img, .store img {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.game-interface {
  display: none;
}

.character-sheet {
  border: 2px solid orchid;
  box-shadow: 2px 2px darkorchid;
  background-color: thistle;
  border-radius: 3px;
  padding: 10px 20px;
}

.battle {
  border: 2px solid yellow;
  box-shadow: 2px 2px gold;
  background-color: lightyellow;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
}

.battle img:hover, .store img:hover {
  filter:grayscale();
  cursor: pointer;
}

.store {
  border: 2px solid blue;
  box-shadow: 2px 2px darkblue;
  background-color: lightblue;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
}

.character-image {
  margin: 10px 0;
}

.col-4, .col-3 {
  float: left;
  margin: 20px 10px;
  height: 900px;
}
