body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  margin-top: 20px;
  color: orchid;
  text-shadow: 2px 2px darkorchid;
}

h3, button{
  margin: 20px 0;
}

form img {
  width: 100px;
}

.character-sheet {
  display: none;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  padding: 10px 20px;
  width: 30%;
}
